*{
    padding: 0;
    margin: 0;
}

:root{
    --azul-claro: #c0ecfb;
    --branco: #ffffff;
    --verde: #abedab;
    --cinza: #dedddd;
    --azul-escuro: #154575;
    --preto: #000000;
}
@media screen and (min-width:315px) {
    section {
        margin: 10px;
    }
    table {
        margin: 0px;
    }

}

@media screen and (min-width:500px) {
    section {
        margin: 20px;
    }
    table{
        margin: 20px;
    }

}

@media screen and (min-width:1024px) {
    section {
        margin: 40px;
    }
       
}
body{
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    background-image: linear-gradient(125deg, var(--azul-claro), var(--azul-escuro));
}

header{
    padding: 30px 0px 0px 0px;
    text-shadow: 5px 5px 15px #000000d4;
}

header > h1{
    text-align: center;
    padding: 10px;
}

main{
    box-shadow: 5px 10px 20px #000000de;
    background-color: var(--branco);
    padding-top: -30px;
}

h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    background-image: linear-gradient(90deg, var(--cinza), var(--azul-claro), var(--branco));
}

section > p {
    text-indent: 30px;
    line-height: 1.5em;
    padding: 20px 0px 30px 0px;
}

li {
    margin-left: 30px;

}

table {
    position: relative;
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    border: 1px solid var(--preto);
}

div#tabela{
    overflow-x: scroll;
}

th {
    padding: 5px;
}

td {
    border: 1px solid var(--preto);
    padding: 10px;
}

section#calculadora{
    text-align: justify;
}

div.conjunto_valores {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

div.conjunto_valores input{
    flex: 1 0 10rem;
    padding: 1em;
}
