/* Estilos Gerais */
@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

:root {
    --azul-claro: #c0ecfb;
    --branco: #ffffff;
    --verde: #abedab;
    --cinza: #dedddd;
    --azul-escuro: #154575;
    --preto: #000000;
}

/* Estilos Responsivos */
@media screen and (min-width: 315px) {
    section {
        margin: 10px;
    }
    table {
        margin: 0px;
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    section {
        margin: 20px;
    }
    table {
        margin: 20px;
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    section {
        margin: 40px;
    }
    table {
        margin: 40px;
        font-size: 16px;
    }
}

/* Estilos do Corpo */
body {
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    background-image: linear-gradient(125deg, var(--azul-claro), var(--azul-escuro));
}

/* Estilos do Cabeçalho */
header {
    padding: 30px 0px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.83);
}

header h1 {
    text-align: center;
    padding: 10px;
}

/* Estilos do Conteúdo Principal */
main {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.87);
    background-color: var(--branco);
    padding: 20px;
}

h2 {
    text-align: left;
    padding: 10px 15px;
    background: linear-gradient(90deg, var(--azul-claro), var(--branco));
}

section p {
    text-indent: 30px;
    line-height: 1.5;
    padding: 20px 0;
}

li {
    margin-left: 30px;
}

table {
    position: relative;
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0;
}

thead th {
    position: sticky;
    top: -1px;
    border: 1px solid var(--preto);
}

div#tabela {
    overflow-x: auto;
}

th, td {
    border: 1px solid var(--preto);
    padding: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Estilos da Calculadora */
.conjunto_valores {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.conjunto_valores input {
    flex: 1 0 10rem;
    padding: 1em;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botão Verde */
button#submit {
    background-color: var(--verde);
    color: var(--preto);
}

button#submit:hover {
    background-color: var(--azul-claro);
}

/* Botão Vermelho */
button#reset {
    background-color: #ff4d4d;
    color: var(--branco);
}

button#reset:hover {
    background-color: #ff6666;
}

/* Footer */
footer {
    background-color: rgb(67, 74, 132);
    color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(44, 44, 44, 0.537) 4px 4px 4px;
    max-width: 1024px;
    min-width: 320px;
    margin: 0px auto 30px;
    padding: 10px;
    text-align: center;
}
